body {
    font-family: "Outfit", serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/* Generales */

.navItemList.active-page {
    background-color: rgb(61, 52, 45);
    transition: background-color 0.3s ease;
}

.btnPrensa::after {
    content: " →";
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.btnPrensa:hover::after {
    transform: translateX(10px);
}


.odometer-formatting-mark {
    display: none;
    color: #ffffff;
}

.botonWhatsApp img {
    width: 50px;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 10;
    cursor: pointer;
}

.botonWhatsApp {
    display: none;
}

.btnHoverGreen {
    transition: background-color 0.5s ease;
}

.btnHoverGreen:hover {
    background-color: #5E7E2E;
}

/*Navbar*/
.leoNavbar {
    background-color: #5B5450;
}

.navItemList {
    display: flex;
    padding: 0 15px;
    text-align: left;
    gap: 10px;
    align-self: stretch;
    border-radius: 24px;
    transition: background-color 0.5s ease;
}

.navItemList:hover {
    background-color: #3d342d;
}

.leoNav2 {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    gap: 24px;
}

.navBtn {
    font-family: "Outfit", serif;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 44px;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contactaBtn {
    font-family: "Outfit", serif;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    border-radius: 80px;
    background: #7FAA3E;
    padding: 12px 12px;
    display: flex;
    transition: background-color 0.5s ease;
}

.contactaBtn:hover {
    background: #5E7E2E;
}

/*BANNER*/

.bannerHome {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.logoBanner {
    width: 20vw;
}

/* ELEGI */

.elegiSection {
    position: relative;
    background: url(./img/bannerImg.avif);
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw 5vw 6vw;
}

.elegiSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 0;
}

.elegiSection>* {
    position: relative;
    z-index: 1;
}

.elegiTitleH2 {
    color: #000;
    text-align: center;
    font-family: "Kadwa", serif;
    font-size: 33.798px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.372px;
    margin-bottom: 30px;
}

.elegiDiv1 {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin: 32px 0;
    max-width: 80vw;
    width: 100%;
}

.misionVision {
    width: 49%;
    height: auto;
    border-radius: 40px;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
}

.misionVision2 {
    padding: 24px;
}

.elegiIcon {
    width: 40px;
    height: 40px;
}

.elegitext1 {
    color: #1F1F1F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.elegiLogoTitle {
    display: flex;
    gap: 16px;
    height: fit-content;
    align-items: center;
}

.elegiLogoTitle h3 {
    color: #7FAA3E;
    font-family: "Kadwa", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.elegiDiv2 {
    display: flex;
    flex-direction: row;
    gap: 2%;
    max-width: 80vw;
    width: 100%;
}

.elegiExperienciaDiv {
    border-radius: 72.069px 0 72.069px 72.069px;

    backdrop-filter: blur(1.2011494636535645px);
    padding: 70px 36px;
    width: 32%;
}

.elegiExperienciaDiv1 {
    color: #FFFFFF;
    background: #7FAA3E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.elegiExperienciaDiv2 {
    color: #FFFFFF;
    background: #5E7E2E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.elegiExperienciaDiv3 {
    color: #FFFFFF;
    background: #5B5450;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*esencia*/

.esenciaTitle {
    color: #000;
    text-align: center;
    font-family: "Kadwa", serif;
    font-size: 33.798px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.372px;
    margin-top: 2vw;
}

#esencia {
    position: relative;
    padding: 0 10vw;
}

.videoYutu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

#my-video {
    position: absolute;
    width: 100%;
    margin: auto;
    height: 100%;
    border-radius: 25px;
    max-width: 1200px;
    object-fit: cover; 
}

#my-video3 {
    width: 100%;
    margin: auto;
    height: 100%;
    border-radius: 25px;
    max-width: 1200px;
    object-fit: cover; 
}

#my-video2 {
    width: 700px;
    margin: auto;
    height: 300px;
    max-width: 1200px;
    border-radius: 25px;
    object-fit: cover;
}

/**/

.onusTitle {
    text-align: center;
    font-family: "Kadwa", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.264px;
    margin-top: 2vw;
}

/* Que hacemos? */

.hacemosTitle {
    color: #000;
    text-align: center;
    font-family: "Kadwa", serif;
    font-size: 33.798px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.372px;
    margin-top: 2vw;
}

.leo-cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.leo-card {
    position: relative;
    width: 20vw;
    max-width: 270px;
    height: 538px;
    background: white;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leo-card-content {
    padding: 20px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
}

.leo-card h3 {
    color: #5B5450;
    font-family: "Kadwa", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 111%;
    letter-spacing: -0.264px;
    margin: 0;
}

.leo-card-image {
    position: absolute;
    top: auto;
    border-radius: 40px;
    bottom: 0;
    width: 100%;
    height: 68%;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
}

.leo-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}

.leo-service-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    border: none;
    background-color: #7FAA3E;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.leo-card:hover .leo-card-image {
    height: 100%;
}

.leo-card:hover .leo-card-image img {
    transform: scale(1.1);
}

.leo-card:hover .leo-card-content {
    opacity: 0;
}

.leo-card:hover .leo-service-btn {
    bottom: 50%;
    transform: translate(-50%, 50%);
}

/* Socios estrategicos */

.sociosTitle {
    margin-top: 5vw;
    color: #000;
    text-align: center;
    font-family: "Kadwa", serif;
    font-size: 33.798px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.372px;
}

.sociosTitleMobile {
    display: none;
}

.socioImg1 {
    width: 15vw;
}

.socioImg2 {
    width: 10vw;
}

.sociosBigDiv {
    margin: 0 5vw;
    display: block;
}

.sociosCarousel {
    width: 100vw;
    margin: 0 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex; 
    flex-wrap: nowrap;
    gap: 16px;
    padding-bottom: 10px;
    scrollbar-width: none; 
}

/* Oculta el scrollbar en Chrome y Safari */
.sociosCarousel::-webkit-scrollbar {
    display: none;
}

.carousel-card-socios {
    flex: 0 0 auto;
    width: 80vw;
    min-width: 300px;
    max-width: 350px;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
}


.socioDiv {
    display: flex;
    border-radius: 24px;
    background: #EFF6B6;
    margin-top: 24px;
    align-items: center;
    height: 21rem;
}

.socioTxt {
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.socioH3 {
    color: #262626;
    font-family: "Kadwa", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.socioBtnDiv {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

.socioBtn {
    border-radius: 40px;
    background: #7FAA3E;
    display: inline-flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    border: 0;
    margin-bottom: 40px;
    margin-right: 20px;
}

/*Confian + Alianzas*/

.alianzasTitle {
    color: #262626;
    text-align: center;
    font-family: "Kadwa", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5vw;
}

.alianzaImg {
    width: 7vw;
    height: 100%;
    opacity: 0.5;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.alianzaImg:hover {
    opacity: 1;
    transform: scale(1.2);
}

.confianImg {
    width: 7vw;
    height: 100%;
    opacity: 0.5;
    transition: all 0.3s ease-in;

}

.confianImg:hover {
    opacity: 1;
    transform: scale(1.2);
}

.alianzasDiv {
    display: flex;
    flex-direction: row;
    gap: 58px;
    justify-content: space-between;
    margin: 1vw;
    align-items: center;
    width: 80vw;
    flex-wrap: nowrap;
}

.confianDiv {
    display: flex;
    justify-content: center;
    margin: 1vw 0 2vw;
    width: 80vw;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 40px 58.411px;
    flex-wrap: wrap;
}

.confian2 {
    width: 150px;
}

.confian3 {
    background-color: #000000;
    padding: 5px;
}

.confian4 {
    width: 80px;
}

.confian {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.alianzas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.alianza29 {
    width: 200px;
}

/* Prensa */

.prensaTitle {
    margin-top: 5vw;
    color: #000;
    text-align: center;
    font-family: "Kadwa", serif;
    font-size: 33.798px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.372px;
}

.prensaDiv {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.prensaSectionWeb {
    margin: 2vw 2vw;
    display: flex;
    justify-content: center;
}

.prensaCardLeo {
    width: 100%;
    max-width: 380px;
    padding: 0;
    margin: 0;
    border-radius: 24px;
}

.prensaDivWeb {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.cardLeo {
    max-width: 380px;
    border-radius: 24px;
    width: 25vw;
}

.card-img-top {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 24px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 36px 35px 24px 35px;
}

.card-title {
    color: #000;
    font-family: "Kadwa", serif;
    font-size: 28.444px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.848%;
    text-align: left;
}

.card-text {
    font-family: "Outfit", serif;
    color: #8D94A2;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 109.848%;
    text-align: left;
}

.btnPrensa {
    color: #7FAA3E;
    font-size: 14.222px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/*Contacto*/

.ContactoTitleDiv {
    margin: 15vh auto 5vh;
}

.tituloContacto {
    font-family: "Kadwa", serif;
    color: #161616;
    text-align: center;
    font-size: 56.889px;
    font-style: normal;
    font-weight: 400;
    line-height: 99.16%;
    letter-spacing: -2.276px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inputDiv2 {
    display: flex;
    justify-content: space-between;
}

.formularioContacto {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.inputTexto,
.inputCorreo,
.inputTelefono {
    font-family: "Outfit", serif;
    width: 27.5vw;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 26.667px;
    border: 0.889px solid #E5E8EE;
    color: #898989;
    font-size: 20px;

}

.inputTexto,
.inputTelefono,
.inputCorreo ::placeholder {
    font-family: "Outfit", serif;
    color: #898989;
    padding-left: 15px;
    text-align: left;
}

.inputMensaje {
    width: -webkit-fill-available;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 26.667px;
    border: 0.889px solid #E5E8EE;
    font-size: 20px;
    color: #fff;
    height: 170px;
    resize: none;
    color: #000000;
    overflow: hidden;
    transition: border-color 0.3s ease;
}

.inputMensaje::placeholder {
    font-family: "Outfit", serif;
    padding-left: 0;
    color: #898989;
}

.labelContacto {
    color: #161616;
    font-family: "Outfit", serif;
    font-size: 17.778px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botonEnviar {
    position: relative;
    border-radius: 85px;
    background: #7FAA3E;
    padding: 15px 30px;
    width: 80%;
    margin: 0 auto;
    border: none;
    font-size: 1.2rem;
    color: #FFFFFF;
    cursor: pointer;
}

/* banner final*/

.bannerFinal {
    margin-top: 15vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(./img/banner-final.avif) lightgray 50% / cover no-repeat;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannerFinalTitle {
    color: #FFF;
    text-align: center;
    font-family: "Kadwa", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
    max-width: 40%;
}

.bannerFinalBtn {
    border-radius: 40px;
    background: #7FAA3E;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border: none;
}

/* footer */

.footerBiored {
    display: flex;
    padding: 85px 20vw 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background: #5B5450;
}

.footerDer {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.logoFooter {
    width: 200px;
}

.derechos {
    color: #FFF;
    font-size: 17.778px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.powered {
    color: #FFF;
    font-size: 15;
    text-align: left;
    text-decoration: none;
}

.footerIzq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footerContact {
    color: #FFF;
    font-size: 17.778px;
    font-style: normal;
    font-weight: 600;
    line-height: 130.278%;
    margin-bottom: 20px;
}

.footerDir {
    color: #FFF;
    font-size: 17.778px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.278%;
    margin: 0;
}

.footerMail {
    color: #FFF;
    font-size: 17.778px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.278%;
    margin-top: 20px;
}

.footerDivRedes {
    display: flex;
    gap: 10px;
}
/* ocultar cosas mobile*/

.alianza2 {
    display: none;
}

.confianDiv2 {
    display: none;
}

.carrouselhacemos {
    display: none;
}

/* .carrouselprensa {
    display: none;
} */

/* Estilos del contenedor */
.carousel-container {
    width: 80vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 16px;
    padding-bottom: 10px;
    scrollbar-width: none;
}

/* Oculta el scrollbar en Chrome, Safari */
.carousel-container::-webkit-scrollbar {
    display: none;
}

/* Estilos de las cards */
.carousel-card {
    flex: 0 0 80%;
    max-width: 350px;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
}

.carousel-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

.carousel-card h3 {
    font-size: 28px;
    margin: 10px 0;
}

.carousel-card p {
    font-size: 20px;
    color: #8D94A2;
}

/*fin*/

.elegiDiv22 {
    display: none;
}

.btn-menu {
    display: none;
}

.leoNavbar49 {
    display: flex;
    background: #5B5450;
}

.hacemosUl2 {
    width: fit-content;
    text-align: left;
}

.hacemosDivUl2 {
    display: flex;
    justify-content: left;
}

.hacemosDivUl2 li {
    color: var(--gray800, #4B4B4B);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.435%;
    /* 30.584px */
}

/**/
/**/
/**/
/**/
/**/
/*
QUIENES SOMOS?
*/
/**/
/**/
/**/
/**/
/**/

.equipo {
    height: 100%;
    background: white;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.equipoBannerText {
    color: #F2F2F2;
    font-family: "Kadwa", serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 99.126%;
}

.bannerEquipo {
    position: relative;
    height: 320px;
    width: 100%;
    background-image: url("./img/equipoBanner.avif");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.equipoProloge {
    padding: 2vw 7vw 0;
}

.equipoPrologueText {
    color: #4B4B4B;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 99.126%;
    /* 29.738px */
}

.hacemosDivPage {
    padding: 5vw 8vw 8vw;
}

.hacemosh2 {
    text-align: left;
    color: #161616;
    font-family: "Kadwa", serif;
    font-size: 35.541px;
    font-style: normal;
    font-weight: 400;
    line-height: 119%;
    /* 42.294px */
}

.hacemosText {
    color: var(--gray800, #4B4B4B);
    font-family: "Public Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.435%;
    text-align: left;
}

.hacemosUl {
    width: fit-content;
    text-align: left;
}

.hacemosDivUl {
    display: flex;
    justify-content: left;
}

.hacemosDivUl li {
    color: var(--gray800, #4B4B4B);
    font-family: "Public Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.435%;
    /* 30.584px */
}

.bannerHacemos {
    position: relative;
    height: 320px;
    width: 100%;
    background-image: url("./img/hacemosBanner.avif");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bannerEquipo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(91, 84, 80, 0.6);
}

.bannerHacemos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(91, 84, 80, 0.6);
}

/* Asegurar que el texto esté por encima */
.equipo-banner-content {
    position: relative;
    color: white;
    /* Cambia el color del texto para que sea visible */
    z-index: 1;
}

.Gervasio {
    object-position: top;
}

.equipoLeoDiv {
    height: auto;
    width: 100%;
    display: flex;
    min-height: none;
    max-width: none;
    margin: 5vw auto;
}

.text-center {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
}

.textEquipo {
    text-align: left;
    padding: 0 5vw;
    width: 100%;
}

.equipo-card {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.equipo-card img {
    height: 325px;
    width: 325px;
    border-radius: 50%;
    object-fit: cover;
}

.equipo-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.equipo-card p {
    font-size: 16px;
    color: #555;
}

.equipo-card span {
    font-size: 17.802px;
    font-weight: 400;
    text-transform: uppercase;
}

.contactoWeb {
    background: #F8F7F0;
    padding: 2vw 0 5vw;
}

.bannerFinal2 {
    margin: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(./img/banner-final.avif) lightgray 50% / cover no-repeat;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divContactoBottom {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    margin: 100px auto 0;
    gap: 20px;
}

.iconosDivContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconoContacto23 {
    background-color: #5B5450;
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 10px;
    align-content: center;
}

.contacto-text22 {
    margin: 0;
    color: #5B5450;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 104.5%;

}

.contacto-text223 {
    margin: 0;
    color: #17253E;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.5%;
    letter-spacing: -0.72px;
}

.contacto333 {
    text-align: left;
}

.carrouselContacto {
    display: none;
}

/* accordion */

.accordion {
    width: 80%;
    margin: 2vw auto;
}

.accordion-item {
    margin-bottom: 5px;
    border: none;
    position: relative;
}

.accordion-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    z-index: 0;
}

.accordion-item .content {
    font-size: 12px;
}

.accordion input[type="radio"] {
    display: none;
}

.accordion .content {
    height: 0;
    padding: 0;
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion input[type="radio"]:checked+.accordion-header+.content {
    height: auto;
    padding: 15px;
}

.accordion-icon {
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.accordion-header .accordion-icon {
    transition: transform 0.3s ease-in-out;
}

.accordion-item.open .accordion-icon {
    transform: rotate(180deg);
}


.accordion-header {
    display: flex;
    min-height: 80px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: url(./img/hacemosCard.avif);
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    position: relative;
    border-radius: 25px; 
}

.accordion-header .accordion-title {
    font-size: 14px;
    color: #ffffff;
    font-family: "Kadwa", serif;
    z-index: 20;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.396px;
}

.estrategicosTitle {
    font-family: "Kadwa", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 111%;
    letter-spacing: -0.352px;
    text-align: left;
}

.estrategicosText {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    letter-spacing: -0.22px;
    text-align: left;
}

.hacemosAsesoriaImg {
    width: 500px;
    height: 400px;
    border-radius: 25px;
    object-fit: cover;
}

/**/
/*Socios Estratégicos*/
/**/
.sectionSociosWeb {
    margin: 2vw 5vw;
}

.agrodesignLogo {
    width: 400px;
}

.forjaLogo {
    width: 200px;
}

.textoSociosDesc {
    text-align: left;
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
}

.content-section {
    display: flex;
    margin-bottom: 20px;
    align-items: stretch;
}

.content-section img {
    max-width: 100%;
}

.divTextInter {
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    align-self: stretch;
    text-align: left;
}

.socioImgSegunda {
    border-radius: 24px;
    width: 100%;
    height: 450px;
}

.divPadreListarSocios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
}

.divListaSocios {
    text-align: left;
    color: #4B4B4B;
    font-size: 20px;
    font-weight: 400;
    line-height: 99.126%;
}

.sociosCarousel {
    display: none;
}

.listarSocios {
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
}

.conoceSocioBtn {
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 80px;
    border: none;
    background: #7FAA3E;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.prensaCarouselSection {
    display: none;
}

.sociosBtnDiv {
    display: none;
}

.conoceSocioBtn2 {
    border: 2px solid #7D7D7D;
    padding: 10px;
    border-radius: 50px;
    color: #7D7D7D;
}
/**/
/*MEDIA QUERIES*/
/**/
@media (max-width: 990px) {
    .carousel-container {
        margin: 0 20px;
        width: 90vw;
    }

    .sociosBigDiv{
        display: none;
    }

    .socioDiv {
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        margin: 0;
    }

    .sociosCarousel {
        display: flex;
    }

    .card-body {
        padding: 15px;
    }

    .carousel-card img {
        height: 200px;
    }
        
    .carousel-card p {
        font-size: 14px;
    }

    /* fin */

    .navbar-brand {
        width: 100%;
    }

    .accordion-header .accordion-title {
        font-size: 16px;
    }

    .estrategicosTitle {
        font-size: 20px;
    }

    .hacemosAsesoriaImg {
        height: 100%;
        width: 100%;
    }

    .accordion {
        margin: 0;
        width: 100%;
        padding: 20px;
    }

    .estrategicosText {
        font-size: 16px;
    }

    .leoNavbar49 {
        display: none;
    }

    .leoNavbar {
        position: fixed;
        top: 0;
        height: auto;
        z-index: 200;
        width: 100%;
    }

    .elegiDiv2 {
        display: none;
    }

    .logoBio {
        width: 100px;
    }

    .elegiDiv22 {
        display: flex;
    }

    .logoBanner {
        display: none;
    }

    .banner-content {
        width: 80vw;
    }

    .logoBannerText {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 126%;
    }

    .bannerHome {
        height: 350px;
        margin-top: 90px;
    }

    .btn-menu {
        display: flex;
        position: fixed;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 28px;
        color: white;
        cursor: pointer;
        z-index: 1050;
    }

    .hacemosDivUl2 li {
        font-size: 16px;
    }

    .botonEnviar {
        width: 90%;
    }

    /* Menú Offcanvas */

    .offcanvas.offcanvas-top {
        height: fit-content;
    }

    .offcanvas-body {
        padding: 0;
    }

    .elegitext1 {
        font-size: 16px;
        text-align: left;
    }

    .btn-leo-nav {
        position: absolute;
        right: 5%;
        top: 5%;
    }

    .footerMail {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .elegiLogoTitle h3 {
        font-size: 24px;
    }

    .videoYutu {
        padding: 0 20px;
    }

    .bannerHome video {
        height: 100%; /* Asegura que el video cubra bien la pantalla */
        width: 100%;
        object-fit: cover;
        min-width: 100%;
    }

    button {
        background-color: transparent;
        border: none;
    }

    .custom-menu {
        background-color: #5B5450;
        height: fit-content;
        max-height: none;
        border-radius: 0 0 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .logoPrincipalNav {
        width: 90px;
        position: relative;
        margin: auto;
    }

    /* Botón de cierre */
    .botonCerrarLeo {
        color: white;
        background-color: transparent;
        font-size: 20px;
        width: 20px;
        position: absolute;
        right: 5%;
        top: 5%;
    }

    /* Lista de menú */
    .menu-list {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }


    .menu-item {
        text-align: left;
        text-decoration: none;
        color: white;
        font-size: 18px;
        display: block;
        padding: 12px 20px;
        transition: background 0.3s ease-in-out;
    }

    .menu-item.active {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
    }

    /* Footer con "Contacto" */
    .offcanvas-footer {
        background: #7FAA3E;
        padding: 18px;
        text-align: center;
        width: 100%;
        border-radius: 0 0 0 40px;
    }

    .contact-btn {
        color: white;
        font-size: 18px;
        text-decoration: none;
        display: block;
        font-weight: bold;
    }

    .prensaDivWeb {
        justify-content: center;
    }

    .leoNav2 {
        justify-content: flex-start;
        padding: 0 16px;
    }

    .contactaBtn {
        width: 100%;
        background-color: #7FAA3E;
    }

    .elegiTitleH2 {
        font-size: 22px;
        margin: 0;
    }

    .elegiSection {
        height: auto;
        padding: 20px 0;
        background-position: left;
    }

    .esenciaTitle {
        margin-top: 5vh;
        font-size: 22px;
    }

    .tituloContacto {
        font-size: 22px;
    }

    .onusTitle {
        margin-top: 5vh;
        font-size: 22px;
    }

    .alianzasTitle {
        margin-top: 5vh;
        font-size: 22px;
    }

    .elegiDiv1 {
        flex-direction: column;
        gap: 0;
    }

    .elegiExperienciaDiv {
        width: 80vw;
        margin-top: 20px;
        padding: 40px 15px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-text {
        font-size: 14px;
    }

    .hacemosTitle {
        margin-top: 5vh;
        font-size: 22px;
    }

    .prensaTitle {
        font-size: 22px;
    }


    .sociosTitle {
        margin-top: 5vh;
        font-size: 22px;
    }

    .elegiDiv2 {
        flex-direction: column;
    }

    .misionVision {
        width: 100%;
    }

    .contacto-text22 {
        font-size: 16px;
    }

    .misionVistionMobile1 {
        border-radius: 40px 40px 0 0;
    }

    .misionVistionMobile2 {
        border-radius: 0 0 40px 40px;
    }

    .alianzasDiv {
        display: none;
    }

    .alianza2 {
        display: block;
        height: 150px;
    }

    .confianDiv {
        display: none;
    }

    .confianDiv2 {
        display: flex;
        width: 100%;
        height: 150px;
    }

    .confianImg {
        opacity: 1;
        width: 100px;
    }

    .alianzaImg {
        opacity: 1;
        width: 100px;
    }

    .confian2 {
        width: 200px;
    }

    .text-align-leo-right {
        text-align: right;
    }

    .carrouselhacemos {
        display: block;
    }

    .hacemosDiv {
        display: none;
    }

    .leo-card {
        width: 80%;
        max-width: none;
        margin: 0 auto;
    }

    .carousel-inner {
        width: 100%;
    }

    .socioTxt {
        font-size: 16px;
    }

    .socioH3 {
        font-size: 20px;
    }

    .socioTextoDiv {
        width: 100%;
        padding: 0 30px;
    }

    .socioH3 {
        text-align: center;
    }

    .inputTexto,
    .inputTelefono,
    .inputCorreo::placeholder {
        font-size: 16px;
    }

    .inputMensaje::placeholder {
        font-size: 16px;
    }

    .socioBtnDiv {
        height: auto;
        margin-bottom: 20px;
        width: 150px;
        justify-content: center;
        align-items: center;
    }

    .socioBtn {
        margin: 0;
    }

    .sociosLogoDiv {
        width: 100%;
        margin-top: 20px;
    }

    .socioImg1 {
        width: 250px;
    }

    .socioImg2 {
        width: 150px;
    }

    .prensaDiv {
        display: none;
    }

    .carrouselprensa {
        display: block;
    }

    .cardLeo {
        width: 80%;
    }

    .derechos {
        font-size: 14px;
    }

    .footerBiored {
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .footerDer {
        order: 200;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .footerIzq {
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 20px;
    }

    .logoFooter {
        width: 150px;
    }

    .bannerFinalTitle {
        max-width: none;
        font-size: 25px;
        padding: 40px;
    }

    .formularioContacto {
        margin: 0 4vw;
        width: auto;
    }

    .inputDiv2 {
        flex-direction: column;
        gap: 20px;
    }

    .inputDiv {
        width: 100%;
    }

    .inputTelefono {
        width: 100%;
    }

    .inputCorreo {
        width: 100%;
    }

    .inputTexto {
        width: 100%;
    }

    .bannerFinal {
        height: auto;
        padding: 15vh 0;
        margin-top: 20px;
    }

    /* equipo web*/

    .equipoBannerText {
        font-size: 30px;
    }

    .equipoPrologueText {
        font-size: 18px;
    }

    .equipo-card img {
        height: 230px;
        width: 230px;
    }

    .quienesCarousel990 {
        width: 100vw;
    }

    .prensaCarouselSection {
        display: block;
    }

    .prensaSectionWeb {
        display: none;
    }

    .containerPrensaMobile {
        width: 93vw;
        margin: 20px 0 20px 20px;
    }

    .cardPrensaMobile {
        max-width: 300px;
    }

    .sociosTitleMobile{
        display: block;
    }

    .agrodesignLogo {
        display: none;
    }

    .forjaLogo {
        display: none;
    }

    #my-video2 {
        width: 90vw;
        height: 300px;
    }

    .sociosDesplegableMobile {
        display: none;
    }

    .sociosDesplegableMobile2 {
        display: none;
    }

    .sociosBtnDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .socioImgSegunda {
        height: 300px;
    }

    .imgForjaOrder {
        order: 20;
    }
}

@media (max-width: 770px) {

    .textEquipo{
        padding: 0;
    }

    #esencia {
        position: relative;
        padding: 0;
    }

    .divContactoBottom {
        flex-direction: column;
    }

    .equipoLeoDiv {
        display: none;
    }

    .carrouselContacto {
        display: block;
    }

    .equipo-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        min-height: 400px;
        /* Ajusta según necesidad */
        padding: 20px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    #carouselExample {
        width: 100vw;
    }


}


